<mat-card>
    <mat-card-title>
      Actualizar datos de la Persona
    </mat-card-title>
    <mat-card-content>
      <div class="form-content" [formGroup]="formProduct">
        <div class="form-control-group">
          <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Descripcion</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Tipo de Producto</mat-label>
            <mat-select formControlName="productTypeId">
              <mat-option *ngFor="let type of productTypes" [value]="type.id">{{type.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Marca</mat-label>
            <input matInput formControlName="brand">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="price">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Stock</mat-label>
            <input matInput formControlName="stock">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button (click)="cancelar()"> Cancelar</button>
      <button mat-raised-button (click)="actualizar()" [disabled]="formProduct.invalid"> Actualizar</button>
    </mat-card-footer>
  </mat-card>
